header {
  text-align: center;
  border: 1px black solid;
}

h2 {
  padding-left: 210px;
}

img {
  width: 100%;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
  padding-left: 0px;
  max-width: 1000px;
  margin: auto;
}

article {
  max-width: 100%;
  border: 1px black solid;
}

footer {
  text-align: center;
  margin-bottom: 60px;
  border: 1px black solid;
  padding: 20px;
}

/* opgave 07 */
.skygge {
  box-shadow: 8px 7px 9px 1px rgba(0, 0, 0, 0.75);
}
